<nav class="relative flex bg-black p-4 text-white">
    <h1 class="absolute left-4 text-2xl">Animal manager</h1>

    <ul class="flex space-x-6 mx-auto">
        <li>
            <NavLink class="nav-text" href="/">Dieren</NavLink>
        </li>
        <li>
            <NavLink class="nav-text" href="/wagon">Wagon</NavLink>
        </li>
    </ul>

</nav>